{% include 'base.html.twig' %}

<section>
    <form method="POST">
        <div id="forgotRecovPassword">
            <h5>Inform your email</h5>
            <input>
            <button type="button" class="btn btn-secondary">Send</button>
        </div>
    <form>
</section>