{% extends 'base.html.twig' %}

{% block body %}
    <section id="trickSecurity">
        <div class="container">
            <h1>Forgot Password</h1>
            <form method="post" id="trickSecurityForm">
                <div id="trickSecurityInput">
                    <h3>Username</h3>
                    <input>
                </div>
                <div id="trickSecurityButton">
                    <button type="button" class="btn btn-secondary">Ask for reset password</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}