li {
    display: inline-block;
}

img {
    height: auto;
    margin-bottom: .5rem;
    max-width: calc(100% + 2rem);
    position: relative;
    left: -1rem;
    right: -1rem;
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    .carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
   
    .carousel-item {
        flex-basis: 450px;
    }
}
