{% extends 'base.html.twig' %}

{% block title %}<title>Snowtricks - Forgot Password</title>{% endblock %}

{% block body %}
    <section id="trickSecurity">
        <div class="container">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
            <h1>Password forgotten</h1>
            {{ form_start(requestForm) }}
            <div id="trickSecurityForm">
                <div id="trickSecurityInput">w
                {{ form_widget(requestForm.email) }}
                </div>
                <div id="trickSecurityButton">
                    <button class="btn btn-secondary">Ask for reset password</button>
                </div>
            </div>
            {{ form_end(requestForm) }}
        </div>
    </section>
{% endblock %}