{% extends 'base.html.twig' %}

{% block body %}
    <section id="backgroundHome">
        <div id="tricksCatch">
            <p id="line1">ALL THE TRICKS </p>
            <p id="line2">you need to know.</p>
        </div>
        <div id="tricksArrowDown">
            <a href="/#tricksList"><i class="fa-solid fa-arrow-down"></i></a>
        </div>
    </section>

    <section id="tricksList">
        <div class="container-fluid">
            {% if app.user %}
            <div id="trickNewTrickButton">
                <a href="{{ path('new_trick') }}"><button type="button" class="btn btn-secondary">Create a new Trick</button></a>
            </div>
            {% endif %}
            <div class="row" id="container-tricks">
                {% include 'parts/_listTricks.html.twig' %}
            </div>
            {% if totalTrick > 7 %}
            <div id="trickItemsLoad">
                <button type="button" class="btn btn-secondary" id="load-more-tricks" data-url="{{ path('load_more_tricks') }}" data-nextpage="2" data-total="{{ totalTrick }}">Load more</button>
            </div>
            {% endif %}
            <div id="tricksArrowUp">
                <a href="/#tricksList"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </div>
        
    </section>

{% endblock %}

{% block javascripts %}
    <script>
        const containerTricks = document.querySelector('#container-tricks');
        const buttonElement = document.querySelector('#load-more-tricks');
        const totalTrick = buttonElement.dataset.total;

        buttonElement.addEventListener('click', (e) => {
            const urlToCall = buttonElement.dataset.url;
            const nextPage = buttonElement.dataset.nextpage;
            fetch(`${urlToCall}?page=${nextPage}`)
            .then(resp => resp.json())
            .then(data => {
                if (data.code === 200) {
                    containerTricks.innerHTML += data.html;
                    const totalTrickDisplayed = document.querySelectorAll('.trick-heading');
                    buttonElement.dataset.nextpage++;
                    if (totalTrickDisplayed.length === parseIn(totalTrick)) {
                        buttonElement.style.display = 'none';
                    }
                }
            })
        })

    </script>
{% endblock %}