{# <section class="carousel">
    <ul class="carousel-items">
        <li class="carousel-item">
            <img id="img-carousel" src="https://placeimg.com/572/322/animals" />
        </li>
        <li class="carousel-item">
            <img id="img-carousel" src="https://placeimg.com/572/322/animals" />
        </li>
        <li class="carousel-item">
            <img id="img-carousel" src="https://placeimg.com/572/322/animals" />
        </li>
        <li class="carousel-item">
            <img id="img-carousel" src="https://placeimg.com/572/322/animals" />
        </li>
        <li class="carousel-item">
            <img id="img-carousel" src="https://placeimg.com/572/322/animals" />
        </li>
    </ul>
</section> #}