{% extends 'base.html.twig' %}

{% block body %}
    <section id="backgroundTrick">
        <div class="container" id="trickDisplay">
            <div>
                <img id="featuredImg" src="https://img.redbull.com/images/c_crop,w_1920,h_960,x_0,y_120,f_auto,q_auto/c_scale,w_1200/redbullcom/2021/2/9/lo3b9oljjxcp3mlt2xtd/steep-meilleurs-jeux-video-snowboard">
                <div id="trickSpecificName">
                    <h1>{{ trick.name }}</h1>
                </div>
            </div>
            
            <div class="container" id="trickInfo">
                {% include 'parts/carousel/_carouselEdit.html.twig' %}
                <form method="POST">
                    <div id="trickInfoEdit">
                        <div id="trickInfoEditName">
                            <input value={{ trick.name }}>
                        </div>
                        <div id="trickInfoEditContent">
                            <textarea>{{ trick.description }}</textarea>
                        </div>
                        <div id="trickInfoEditCategory">
                            <select>
                                <option>{{ trick.category }}</option>
                            </select>
                        </div>
                        <div id="trickInfoEditButtons">
                            <button type="submit" class="btn btn-secondary">Save Edit</button>
                            <button type="submit" class="btn btn-dangerous">Delete</button>
                        </div>
                    </div>
                <form>
            </div>
        </div>
    </section>
{% endblock %}