<nav>
    <div class="container-fluid">
        <ul>
            <li>
                <a href="{{ path('homepage') }}"><i class="fa-solid fa-house"></i><span>Home</span></a>
            </li>
            <li>
                <a href="{{ path('registration') }}"><i class="fa-solid fa-bookmark"></i><span>Registration</span></a>
            </li>
            <li>
                <a href="{{ path('login') }}"><i class="fa-solid fa-arrow-right-to-bracket"></i><span>Log In</span></a>
            </li>
            <li>
                <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i><span>Log Out</span></a>
            </li>
        </ul>
    </div>
</nav>
